@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-accent: #8a0303;
}

body {
  background-color: #050505;
  color: #d1d5db;
  /* gray-300 */
  font-family: 'Roboto Slab', serif;
}


/* Lightbox */
#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  backdrop-filter: blur(5px);
}

#lightbox.active {
  opacity: 1;
  pointer-events: all;
}

#lightbox img {
  max-width: 90%;
  max-height: 90vh;
  box-shadow: 0 0 20px rgba(138, 3, 3, 0.5);
  border: 1px solid var(--color-accent);
  border-radius: 4px;
}

#lightbox-close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: var(--color-text-main);
  font-size: 3rem;
  cursor: pointer;
  font-family: var(--font-header);
  transition: color 0.3s;
}

#lightbox-close:hover {
  color: var(--color-accent);
  text-shadow: 0 0 10px var(--color-accent);
}